h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}
.banner {
  background-color: darkcyan;
  text-align: right;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(odd) {background-color: #f2f2f2;}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  flex-flow: row wrap;
}

.flex-container > div {
  flex: 1;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-container > div img {
  margin-bottom: 10px;
  height: auto;
}

.flex-container > div p h3 {
  text-align: center;
  margin: 0;
  line-height: 1.5;
}

a{
  font-family: Arial, Helvetica, sans-serif;
}

.button{
    padding: 10px 20px;
    background-color: darkcyan;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}


